.heading
{
    font-size:23px;
    width: 100%;
    box-shadow: 5px 5px 5px grey;
    margin: 0px;
}



body {
    font-family: 'Quicksand', sans-serif;
   
}


a {
    background-color: transparent;
   position: absolute; 
    width: 0px; 
    height: 0px;
}



strong {
    font-weight: bold
}


h1 {
    font-size: 2em;
    margin:8px;
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

#color {
    width: 13em;
    height: 8em;
  }
  
  
  h4, h5, p {
    font-family: sans-serif;
    text-align: center;
  }
  
  .container {
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  